.bloco {
  margin-top: 25px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.titulo {
  background: #333;
  color: white;
  font-weight: bold;
  padding: 8px;
  font-size: 15px;
}

.tabela {
  background: #eaf3ff;
  width: 100%;
}

.linha {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 15px;
}

.cabecalho {
  background: #c7ddf6;
  font-weight: bold;
}

.dados {
  background: #f5faff;
}
